{% extends "layout.html" %} {% block content %}

<head>
    <style>
        body {
            color: #ffffff;
        }
    </style>
</head>
<div class="container">
    <h1>Infromacion.</h1>
    <p>Hola, esta es una pagina en la que subiré cositas.</p>
    <div class="container-encuesta">

        <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSevOxtCz4IFCuaa_tuFngJpYTdDyEPCyz3xlnlC7-3Kt9YriQ/viewform?embedded=true" height=1400 width=450 frameborder="0">Cargando…</iframe>
    </div>
</div> {% endblock %}