{% extends "layout.html" %} {% block content %}

<head>
    <style>
        body {
            color: #ffffff;
        }
    </style>
</head>
<div class="container">
    <h1>Web page info:</h1>
    <p>This page is build to save somethings/thougths primarly to keep it everywere.</p>
    <p1>On the top you will find some notes of previous courses that I took, also, in the search bar you could search the ones not displayed.<br> I will update this page with some facts or data that I collect over my research.
    </p1>


</div>{% endblock %}