{% extends "layout.html" %} {% block content %}
<div id=barra2>

    <div class="container3 p-4 animated fadeInUp">

        <form action="">
            <div class="containercard">
            </div>
            <div class="containercard">
            </div>
            <div class="containercard">
            </div>
            <div class="containercard">
            </div>
            <div class="containercard">
            </div>
            <div class="containercard">
            </div>
            <div class="containercard">
            </div>
            <div class="containercard">
                <div class="card">
                    <div class="card-body">
                        <div id="list-example" class="list-group">
                            <a class="list-group-item list-group-item-action" href="#list-item-1">Item 1</a>
                            <a class="list-group-item list-group-item-action" href="#list-item-2">Item 2</a>
                            <a class="list-group-item list-group-item-action" href="#list-item-3">Item 3</a>
                            <a class="list-group-item list-group-item-action" href="#list-item-4">Item 4</a>
                        </div>

                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<script>
    window.onscroll = function() {
        myFunction()
    };

    // Get the navbar
    var navbar = document.getElementById("barra2");

    // Get the offset position of the navbar
    var sticky = navbar.offsetTop;

    // Add the sticky class to the navbar when you reach its scroll position. Remove "sticky" when you leave the scroll position
    function myFunction() {
        if (window.pageYOffset >= sticky) {
            navbar.classList.add("sticky2")
        } else {
            navbar.classList.remove("sticky2");
        }
    }
</script>
<div class="container-fluid" style=" margin-top: -16%;  width: 85%">
    <div class="jumbotron animated fadeInRight">
        <h1>Pagina 2</h1>
        <!--
           <div data-spy="scroll" data-target="#list-example" data-offset="0" class="scrollspy-example">
            <h4 id="list-item-1">Item 1</h4>
            <p></p>
            <h4 id="list-item-2">Item 2</h4>
            <p></p>
            <h4 id="list-item-3">Item 3</h4>
            <p> </p>
            <h4 id="list-item-4">Tex</h4>
            <p></p>
        </div> -->

    </div>
</div>

{% endblock %}