    body {
        background: #536976;
        /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #292E49, #536976);
        /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #292E49, #536976);
        /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    }
    
    .menuLink:hover ul {
        display: block;
    }
    
    .menu-link:active {
        display: block;
    }
    
    .hide {
        display: none;
    }
    
    .dropdown:hover .dropdown-menu {
        display: block;
    }
    
    .navbar-header {
        float: none;
    }
    
    .navbar-toggle {
        display: block;
    }
    
    .navbar-nav {
        float: none!important;
        margin: 7.5px -15px;
    }
    
    .navbar-nav>li {
        float: none;
    }
    
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    
    .navbar-text {
        float: none;
        margin: 15px 0;
    }
    /* since 3.1.0 */
    
    .navbar-collapse.collapse.in {
        display: block!important;
    }
    
    .collapsing {
        overflow: hidden!important;
    }
    
    {
        box-sizing: border-box;
    }
    
    .container {
        padding-top: 15px;
    }
    
    .container1 form {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        padding-right: 2%;
    }
    
    .container-fluid {
        padding-right: 8%;
    }
    
    .containercard {
        padding: 16px;
    }
    /* Style the counter cards */
    
    .card {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        text-align: center;
        padding-right: 5%;
        background-color: #f1f1f1;
    }
    
    .container-encuesta {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 40%;
    }
    /* Style the navbar */
    /* The sticky class is added to the navbar with JS when it reaches its scroll position */
    
    .container3 form {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        padding-right: 2%;
    }
    
    .sticky {
        position: fixed;
        z-index: 9999;
        top: 0;
        width: 100%;
    }
    /* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
    
    .sticky+.content {
        padding-top: 30px;
    }
    
    .container {
        margin-top: 70px;
        /* Add a top margin to avoid content overlay */
        scroll-behavior: auto;
    }
    
    .sticky2 {
        position: fixed;
        z-index: 9999;
        top: 0;
        width: 100%;
    }
    /* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
    
    .sticky2+.content {
        padding-top: 30px;
    }